<div id="content">
    <div id="logo-container">
        <img src="assets/sanpablo.png" >
    </div>
    <mat-list >
        <mat-list-item mat-ripple class="child_option" (click)="dashboardClicked()"><mat-icon matPrefix>dashboard</mat-icon>Dashboard</mat-list-item>
        <mat-list-item mat-ripple class="child_option" (click)="viewallClicked()"><mat-icon matPrefix>view_list</mat-icon>View All Profiles</mat-list-item>
        <mat-list-item mat-ripple class="child_option" (click)="reportClicked()"><mat-icon matPrefix>receipt_long</mat-icon>Reports</mat-list-item>
                
    </mat-list>
    
</div>