<!-- <mat-spinner *ngIf='(data == undefined); else elseBlock'></mat-spinner> -->
<mat-spinner *ngIf='(false); else elseBlock'></mat-spinner>

<ng-template #elseBlock>
   <div>
       <mat-card class='mat-elevation-z8'>
           <h2>Family Information</h2>
           <br>
           <form #addProfileForm='ngForm' (ngSubmit)='submit(addProfileForm.value)'>
            <mat-list>

                <!-- <mat-list-item>
                    <br>
                    <mat-form-field class='input-fields' appearance='outline'>
                        <mat-label>First Name</mat-label>
                        <input matInput
                        name="first_name"
                        minlength="2"
                        maxlength="50"
                        ngModel
                        pattern="^[a-zA-Z ]+$"
                        >
                    </mat-form-field>
                    
                </mat-list-item> -->
                    
                <div class='label'>
                Name:
                </div>
                <mat-list-item>
                    <mat-form-field class="input-fields" appearance="outline">
                        <input matInput name='firstName' [(ngModel)]='firstName' required pattern="^[a-zA-Z ]+$" placeholder="First Name">
                        <mat-error></mat-error>
                    </mat-form-field>
                    <mat-form-field class="input-fields" appearance="outline">
                        <input matInput name='lastName' [(ngModel)]='lastName' required pattern="^[a-zA-Z ]+$" placeholder="Last Name">
                        <mat-error></mat-error>
                    </mat-form-field>
                </mat-list-item>
                <!-- <mat-divider></mat-divider> -->

                <div class='label'>
                    Address:
                </div>
                <mat-list-item>
                <mat-form-field class="input-fields" appearance="outline">
                    <input matInput name='address' [(ngModel)]='address' required pattern="^[#.0-9a-zA-Z ,-]+$" placeholder="Address">
                    <mat-error></mat-error>
                </mat-form-field>
            </mat-list-item>
                <!-- <mat-divider></mat-divider> -->





                <div class="row">
                    <div class="column">Contact Number</div>
                    <div class="column">Sex</div>
                    <div class="column">Civil Status</div>
                  </div>


                  <div class="row">
                    <mat-list-item>
                    <mat-form-field class="input-fields" appearance="outline">
                        <input matInput name='contact' [(ngModel)]='contact' required pattern= "^[0-9]{11}" required placeholder="Contact Number">
                        <mat-error></mat-error>
                    </mat-form-field>
                </mat-list-item>
                    <mat-list-item>
                        <mat-form-field class="input-fields" appearance="outline">
                            <mat-select fxFlex="60%" name="sex" [(ngModel)]='sex' [(value)]="sex" required placeholder="Sex">
                                <mat-option value="Male">Male</mat-option>
                                <mat-option value="Female">Female</mat-option>
                              </mat-select>
                        </mat-form-field>
                    </mat-list-item>
                    <mat-list-item>
                        <mat-form-field class="input-fields" appearance="outline">
                            <mat-select fxFlex="60%" name="civilStatus" [(ngModel)]='civilStatus' [(value)]="civilStatus" required placeholder="Civil Status">
                                <mat-option>None</mat-option>
                                <mat-option value="Single">Single</mat-option>
                                <mat-option value="Married">Married</mat-option>
                                <mat-option value="Separated">Separated</mat-option>
                                <mat-option value="Widowed">Widowed</mat-option>
                              </mat-select>
                        </mat-form-field>
                    </mat-list-item>
                  </div>










                <!-- <div class="label">
                    <label class="label-body">Contact Number</label>
                    <label class="label-body">Sex</label>
                    <label class="label-body2">Civil Status</label>
                </div> -->
                <!-- <div class="body2">
                <mat-list-item>
                    <mat-form-field class="input-fields" appearance="outline">
                        <input matInput name='contact' [(ngModel)]='contact' required pattern="^[#.0-9a-zA-Z ,-]+$" placeholder="Contact Number">
                        <mat-error></mat-error>
                    </mat-form-field>
                </mat-list-item>
                <mat-list-item>
                    <mat-form-field class="input-fields" appearance="outline">
                        <mat-select fxFlex="60%" name="sex" [(ngModel)]='sex' [(value)]="sex" placeholder="Sex">
                            <mat-option value="male">Male</mat-option>
                            <mat-option value="female">Female</mat-option>
                          </mat-select>
                    </mat-form-field>
                </mat-list-item>
                <mat-list-item>
                    <mat-form-field class="input-fields" appearance="outline">
                        <input matInput name='civilStatus' [(ngModel)]='civilStatus' required placeholder="Civil Status">
                        <mat-error></mat-error>
                    </mat-form-field>
                </mat-list-item>
                </div> -->
                <!-- <mat-divider></mat-divider> -->




                <div class="row">
                    <div class="column">Source of Income</div>
                    <div class="column">Type of Household</div>
                    <div class="column">Educational Attainment</div>
                  </div>

                  <div class="row">
                    <mat-list-item>
                        <mat-form-field class="input-fields" appearance="outline">
                            <input matInput name='soi' [(ngModel)]='soi' required placeholder="Source of Income">
                            <mat-error></mat-error>
                        </mat-form-field>
                    </mat-list-item>
                    <mat-list-item>
                        <mat-form-field class="input-fields" appearance="outline">
                            <mat-select fxFlex="60%" name="typeofhousehold" [(ngModel)]='typeofhousehold' [(value)]="typeofhousehold" required placeholder="Type of Household">
                                <mat-option>None</mat-option>
                                <mat-option value="dueling">Dueling</mat-option>
                                <mat-option value="concrete">Concrete</mat-option>
                                <mat-option value="barong">Barong barong</mat-option>
                              </mat-select>
                        </mat-form-field>
                    </mat-list-item>
                    <mat-list-item>
                    <mat-form-field class="input-fields" appearance="outline">
                        <mat-select fxFlex="60%" name="ea" [(ngModel)]='ea' [(value)]="ea" required placeholder="Educational Attainment">
                            <mat-option value="None">None</mat-option>
                            <mat-option value="Elementary">Elementary</mat-option>
                            <mat-option value="Highschool">Highschool</mat-option>
                            <mat-option value="College">College</mat-option>
                          </mat-select>
                    </mat-form-field>
                </mat-list-item>
                  </div>


                <!-- <div class="label">
                    <label class="label-body">Source of Income</label>
                    <label class="label-body4">Type of Household</label>
                    <label class="label-body5">Educational Attainment</label>
                </div> -->
                <!-- <div class="body2">
                <mat-list-item>
                    <mat-form-field class="input-fields" appearance="outline">
                        <input matInput name='soi' [(ngModel)]='soi' required placeholder="Source of Income">
                        <mat-error></mat-error>
                    </mat-form-field>
                </mat-list-item>
                <mat-list-item>
                    <mat-form-field class="input-fields" appearance="outline">
                        <mat-select fxFlex="60%" name="typeofhousehold" [(ngModel)]='typeofhousehold' [(value)]="typeofhousehold" placeholder="Type of Household">
                            <mat-option>None</mat-option>
                            <mat-option value="dueling">Dueling</mat-option>
                            <mat-option value="concrete">Concrete</mat-option>
                            <mat-option value="barong">Barong barong</mat-option>
                          </mat-select>
                    </mat-form-field>
                </mat-list-item>
                <mat-list-item>
                    <mat-form-field class="input-fields" appearance="outline">
                        <input matInput name='ea' [(ngModel)]='ea' required placeholder="Educational Attainment">
                        <mat-error></mat-error>
                    </mat-form-field>
                </mat-list-item>
                </div> -->
                <!-- <mat></mat> -->

                <!-- <mat-divider></mat-divider> -->


                <div class="row">
                    <div class="column1">Medical History</div>
                    <div class="column1" *ngIf="sex === 'Female'">Pregancy</div>
                  </div>

                  <div class="row">
                    <mat-list-item>
                        <mat-form-field class="input-fields" appearance="outline">
                            <input matInput name='mh' [(ngModel)]='mh' required placeholder="NA if none">
                            <mat-error></mat-error>
                        </mat-form-field>
                    </mat-list-item>
                    <mat-list-item *ngIf="sex === 'Female'">
                        <mat-form-field class="input-fields" appearance="outline">
                            <mat-select fxFlex="60%" name="pregnant" [(ngModel)]='pregnant' [(value)]="pregnant" required placeholder="Pregnancy">
                                <mat-option value="yes">Yes</mat-option>
                                <mat-option value="no">No</mat-option>
                              </mat-select>
                        </mat-form-field>
                    </mat-list-item>
                  </div>

                  <div class='label'>
                    Malnutrion Case:
                </div>
                <mat-list-item>
                    <mat-form-field class="input-fields" appearance="outline">
                        <mat-select fxFlex="60%" name="malnutrision" [(ngModel)]='malnutrision' [(value)]="malnutrision" required placeholder="Malnutrision">
                            <mat-option value="yes">Yes</mat-option>
                            <mat-option value="no">No</mat-option>
                          </mat-select>
                    </mat-form-field>
                </mat-list-item>

                <div class='label'>
                    Tuborcolosis Case:
                </div>
                <mat-list-item>
                    <mat-form-field class="input-fields" appearance="outline">
                        <mat-select fxFlex="60%" name="tuborcolosis" [(ngModel)]='tuborcolosis' [(value)]="tuborcolosis" required placeholder="Tuborcolosis">
                            <mat-option value="yes">Yes</mat-option>
                            <mat-option value="no">No</mat-option>
                          </mat-select>
                    </mat-form-field>
                </mat-list-item>


                <!-- <div class="label">
                    <label class="label-body">Medical History</label>
                    <label class="label-body3" *ngIf="sex === 'female'">Pregancy</label> -->
                <!-- </div>
                <div class="body2">
                <mat-list-item>
                    <mat-form-field class="input-fields" appearance="outline">
                        <input matInput name='mh' [(ngModel)]='mh' required placeholder="NA if none">
                        <mat-error></mat-error>
                    </mat-form-field>
                </mat-list-item>
                <mat-list-item *ngIf="sex === 'female'">
                    <mat-form-field class="input-fields" appearance="outline">
                        <mat-select fxFlex="60%" name="pregnancy" [(ngModel)]='pregnancy' [(value)]="pregnancy" placeholder="Pregnancy">
                            <mat-option value="yes">Yes</mat-option>
                            <mat-option value="no">No</mat-option>
                          </mat-select>
                    </mat-form-field>
                </mat-list-item>
                </div> -->
                <!-- <mat></mat> -->










        <!-- <mat-divider></mat-divider> -->

                <br>
                <br>

        <div id='controls'>
            <!-- <button mat-raised-button type='button' (click)="addfamily()"><mat-icon>add_circle_outline</mat-icon> Add Family Member </button>  -->
            <button mat-raised-button color='primary' type='submit'><mat-icon>send</mat-icon> Create Profile </button> 
            <button mat-raised-button type='button' (click)='cancel()'>Cancel</button>
        </div>
            </mat-list>
        </form>

       </mat-card>
   </div><br>

</ng-template>